:root {
    --purple: #673AB7;
    --yellow: #DFB534;
    --white: #EBEBEB;
    --gray: #D8D8D8;
    --light-gray: #E8E8E8;
    --mid-gray: #C0C0C0;
    --dark-gray: #6C6C6C;
}

html {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: var(--gray);
}

.inline-code {
    font-family: 'Roboto Mono', monospace;
    color: var(--dark-gray);
    background: var(--gray);
}

.sidenav {
    overflow-y: auto;
}

.main-container {
    background-color: var(--light-gray);
    height: 100vh;
}

#logo {
    background-color: var(--purple);
    color: white;
    width: 100%;
    line-height: 75px;
    text-align: center;
    font-size: 20px;
    cursor: default;
}

.achievement-container {
    height: 75px;
    background-color: var(--dark-gray);
}

.icon {
    position: relative;
    top: 30%;
}

#achievement {
    position: relative;
    top: 30%;
    color: var(--white);
    font-size: 15px;
    cursor: default;
}

button {
    background-color: var(--purple);
    color: var(--white);
    font-size: 17px;
}

button:hover {
    color: gold;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.lesson-btn {
    border-radius: 0;
    border-bottom-color: black;
    height: 50px;
}

.btn-background {
    background-color: var(--purple);
    color: var(--white);
}

.checkpoint {
    border-radius: 0;
    font-size: 15px;
    background-color: var(--gray);
    color: black;
}

.checkpoint:hover {
    background-color: var(--mid-gray);
    color: black;
}

#code-canvas-container {
    height: 54vh;
}

#terminal-reward-container {
    height: 34vh;
}

.label-container {
    height: 6vh;
}

.label {
    padding: 5px;
    display: inline-block;
    background-color: var(--purple);
    color: var(--white);
    font-size: 15px;
    cursor: default;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

#code-editor {
    height: 100%;
}

.highlighted-text {
    background-color: #90EE90;
}

#output {
    background-color: white;
    position: relative;
    float: left;
}

.mid-col-2nd-row-container {
    height: 95%;
    width: 100%;
    padding: 3px;
    background-color: var(--mid-gray);
}

#goal {
    padding: 10px;
    font-size: 15px;
    overflow-y: auto;
}

.reward {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 12px;
}

.star {
    display: block;
    margin: 25px auto auto auto;
}

#next, #reset {
    display: none;
    margin: 30px auto auto auto;
}

#next {
    background-color: var(--yellow);
}

#reset {
    background-color: var(--purple);
}

.instruction {
    display: none;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 75%;
    padding: 5px;
    border: 5px solid #673AB7;
    background-color: white;
    z-index: 9999;
    overflow: auto;
}

#toolbox-container {
    padding-top: 20px;
}

.end {
  width: 75%;
  bottom: 1%;
  position: absolute;
}

.end-password {
  width: 100%;
}

.password {
    margin: auto auto 20px auto;
}

.err {
    display: inline-block;
    position: relative;
}

.err:before {
    content: "~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
}

.red-text {
    color: red;
    font-weight: bold;
}

.blue-text {
    color: blue;
    font-weight: bold;
}
